/* Sacar bordes  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Fuente de Letra y overflow para sacar scroll */
body {
  font-family: "Outfit", sans-serif;
}

/* Medidas del Logo */
.logo-imagen {
  margin: 0 auto;
  width: 20%;
  height: auto;
}

.grosor_texto {
  font-weight: 200;
}

.cabeza {
  background-color: #f3e3c4;
  width: 100%;
}

.div-navbar {
  display: flex;
  flex-wrap: wrap;
  border-radius: 2px;
  justify-content: space-between;
  align-items: center;
  background-color: #f3e3c4;
  padding: 5px;
  width: 100%;
}

.div-navbar a {
  font-size: 20px;
}

.separacion_relleno {
  padding: 20px;
}

.tamaño_titulos {
  font-size: 30px;
}

.tamaño-titulos {
  border-bottom: 4px solid #70866b;
  font-weight: 600;
  font-size: 50px;
}

.centrar_texto {
  text-align: center;
}

.tamaño-parrafos {
  font-size: 20px;
}

.navbar-principal ul li {
  list-style: none;
  text-decoration: none;
  display: inline-block;
  border: 5px solid #fff;
  border-radius: 5px;
}

.navbar-principal a {
  font-weight: 250;
  color: #fff;
  padding: 5px;
  text-decoration: none;
}

.contenedor-principal {
  height: 100%;
  width: 100%;
  background-color: #70866b;
  color: #f9f8f4;
}

.seccion-principal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  background-color: #f3e3c4;
}

.contenedor-sobre-cabañas {
  padding: 20px;
  margin-top: 35px;
  width: 90%;
}

.contenedor-sobre-cabañas h2 {
  border-bottom: 4px solid #70866b;
  font-size: 50px;
  color: #000;
}

.contenedor-sobre-cabañas p {
  color: #000;
  font-size: 20px;
  border-bottom: 4px solid #70866b;
}

.iconos-lugar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
  gap: 10px;
  list-style: none;
}

.seccion-implementacion {
  display: flex;
  text-align: center;
  padding: 20px;
  width: 80vw;
  min-height: 30vh;
  margin: 15px;
  background-color: #70866b;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  flex-wrap: wrap;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.titulo-cabañas {
  padding: 15px;
  font-size: 40px;
  color: #fff;
}

.elemento-contenedor {
  display: flex;
  font-size: 40px;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  padding: 15px;
  justify-content: flex-end;
  gap: 10px;
  background-color: cadetblue;
  border: 2px solid rgb(167, 119, 119);
  border-radius: 10px;
}

.seccion-implementacion li {
  list-style: none;
  display: inline;
  font-size: 20px;
}

.elementos-contenedor {
  display: flex;
  gap: 10px;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.fa-kitchen-set,
.fa-bed,
.fa-tv,
.fa-shower,
.fa-person-swimming,
.fa-droplet,
.fa-leaf,
.fa-bolt {
  color: #f3e3c4;
}

.segunda_seccion_lugar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 80vw;
  height: 100vh;
  background-color: #70866b;
}

.ancho_para_el_texto {
  width: initial;
}

.color-textos-cabeza {
  font-weight: 200;
  color: #f9f8f4;
  font-size: 25px;
}

.carousel-section {
  background-color: #70866b;
  height: 80vh;
  width: 100%;
}

.contenedor_de_img {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 85vh;
  color: rgb(28, 26, 26);
  text-align: center;
  background-image: url(../img/Img_Cabañas.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.contenedor_de_img-formulario {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 85vh;
  color: rgb(28, 26, 26);
  text-align: center;
  background-image: url(../img/Imagen_Cabaña_3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.boton-de-ver-precios {
  cursor: pointer;
  font-size: 15px;
  border: none;
  padding: 15px;
  color: #f9f8f4;
  border-radius: 5px;
  background-color: #70866b;
  width: 150px;
}

.seccion-principal-formularios h1 {
  margin: 10px;
  font-size: 2rem;
  text-align: center;
  font-weight: 500;
}

.seccion-principal-formularios {
  padding: 25px;
  height: 100%;
  background-color: #f3e3c4;
}

.seccion-formulario,
.elemento-formulario {
  display: flex;
  justify-content: center;
  font-size: 1.3rem;
  text-align: center;
  align-items: center;
  flex-direction: column;
  padding: 15px;
  background-color: #fff;
  width: 40%;
  margin: 0 auto;

  border-radius: 10px;
}

.elemento-formulario label {
  margin-bottom: 10px;
  font-weight: 300;
}

.elemento-formulario input {
  width: 300px;
  margin: 10px;
  border: 1px solid #000;
  padding: 20px;
  border-radius: 5px;
}

textarea {
  max-width: 400px;
  max-height: 200px;
}

.info {
  display: flex;
  justify-content: center;
}

.elemento-parrafo-izquierda {
  width: 30%;
  text-align: left;
  font-weight: 300;
  font-size: 20px;
  padding: 25px 0 0 0;
}

.info-lugar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #70866b;
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
  width: 80vw;
  min-height: 50vh;
}

.info-lugar h2 {
  border-bottom: 4px solid #f3e3c4;
  font-size: 40px;
  font-weight: 600;
}

.textos_importantes {
  font-size: 3.2rem;
  font-weight: 500;
}

.color_de_textos {
  font-size: 25px;
  color: rgb(28, 26, 26);
}

a:hover {
  color: rgb(181, 181, 59);
}

footer {
  width: 100%;
  background-color: #333;
  color: #f9f8f4;
  padding: 30px 0;
  text-align: center;
}

footer a {
  color: #f9f8f4;
  font-size: 1.8rem;
  margin: 0 10px;
  transition: color 0.3s ease;
}

footer a:hover {
  color: #70866b;
}

footer p {
  margin-top: 15px;
  font-size: 0.9rem;
}

.fa-brands,
.fa-instagram {
  color: rgb(33, 33, 176);
  margin: 5px;
}

.info-section {
  padding: 60px 0;
  background-color: #f9f8f4;
}

.info-section h2 {
  font-size: 2.5rem;
  font-weight: 600;
  color: #333;
  margin-bottom: 40px;
  border-bottom: 4px solid #70866b;
  display: inline-block; /* Para que la línea se ajuste al texto */
  padding-bottom: 5px;
}

.info-item {
  margin-bottom: 30px;
}

.info-item h3 {
  font-size: 1.8rem;
  color: #70866b;
  margin-bottom: 15px;
}

.info-item p {
  font-size: 1.1rem;
  line-height: 1.6;
  color: #555;
}

/* Estilos para la sección del carrusel */
.carousel-section {
  height: 100%;
  width: 100%;
  background-color: #70866b;
  padding: 20px 0;
}

.carousel-section h2 {
  color: #f9f8f4;
  font-size: 2.5rem;
  font-weight: 600;
  margin-bottom: 40px;
  border-bottom: 4px solid #f9f8f4;
  display: inline-block;
  padding-bottom: 5px;
}

.carousel-inner .carousel-item img {
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-height: 500px;
  object-fit: cover;
}

.parent {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.div1 {
  grid-area: 1 / 1 / 4 / 3;
}
.div2 {
  grid-area: 1 / 3 / 4 / 6;
}
.div3 {
  grid-area: 4 / 1 / 6 / 3;
}
.div4 {
  grid-area: 4 / 3 / 6 / 6;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .div-navbar {
    display: flex;
    flex-direction: column;
    padding: 15px;
    gap: 10px;
  }

  .Imagen-de-logo {
    text-align: center;
  }
}

@media (max-width: 600px) {
  .elementos-contenedor {
    margin: 10px;
    padding: 10px;
    flex-direction: column;
  }

  .seccion-implementacion {
    margin: 10px;
    padding: 15px;
    width: 90%;
  }

  .logo-imagen {
    width: 40%;
  }

  .div-navbar {
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
    width: 100%;
  }

  .Imagen-de-logo {
    text-align: center;
  }
}
