@use "./utilities/variables" as *;
@use "./utilities/mixins" as *;
@use "./utilities/extends" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Asegura que el padding no afecte el ancho total */
  font-family: "Outfit", sans-serif;
}

/* Medidas del Logo */
.logo-imagen {
  margin: $centrar_objeto;
  width: $ancho_logo;
  height: altura_auto;
}

.grosor_texto {
  font-weight: 200;
}

.cabeza {
  background-color: #f3e3c4;
  width: 100%;
}

.div-navbar {
  @extend %div_navbar;
}

.imagen-de-nosotros {
  @include imagenes_de_nosotros(flex, center, center, 80vh, 100%);
}

.imagen-de-nosotros img {
  @include medidas-imagen(20px, 100%, 70vh, 20px);
}

.imagen-de-nosotros p {
  @include textos_img(1.2rem, 15px, 10px);
}
.div-navbar a {
  font-size: 20px;
}

.tamaño_titulos {
  font-size: 30px;
}

.tamaño-titulos {
  @extend %tamaño_titulos;
}

.centrar_texto {
  text-align: $centrar_texto;
}

.tamaño-parrafos {
  font-size: 20px;
}

.navbar-principal ul li {
  @extend %decoracion_navbar;
}

.navbar-principal a {
  @include navbar-principal(250, #fff, 5px, none);
}

.seccion-sobre-nosotros {
  $background: #f9fafb;
}

.seccion-sobre-nosotros h1 {
  @extend %seccion-sobre-nosotros;
}

.seccion-sobre-nosotros h2 {
  @extend %seccion-sobre-nosotros-h2;
}

.seccion-sobre-nosotros p {
  @extend %seccion-sobre-nosotros-p;
}

.contenedor-principal {
  @include propiedades_basicas_content_principal(100%, 100%, #f9f8f4);
}

.seccion-principal {
  @extend %flex_basico_with_column;
  @include propiedades_seccion_principal(100%, 100vh, #f3e3c4);
}

.seccion-implementacion {
  @extend %seccion_implementacion_index;
}

.titulo-cabañas {
  padding: 15px;
  font-size: 40px;
  color: #fff;
}

.elemento-contenedor {
  @extend %flex_basico_with_flex_end_colunm;
  @include propiedades_elemento_contenedor(
    40px,
    20px,
    15px,
    cadetblue,
    "2px solid rgb(167, 119, 119);",
    10px
  );
}

.seccion-implementacion li {
  @extend %seccion-de-implementacion;
}

.elementos-contenedor {
  @extend %elementos_contenedor;
}

.fa-kitchen-set,
.fa-bed,
.fa-tv,
.fa-shower,
.fa-person-swimming,
.fa-droplet,
.fa-leaf,
.fa-bolt {
  color: #f3e3c4;
}

.segunda_seccion_lugar {
  @extend %flex_basico_with_row;
  @include segunda_seccion(80vw, 100vh, #70866b);
}

.color-textos-cabeza {
  @extend %color-textos-cabeza;
}

.whatsapp-float {
  @extend %boton_whatsApp;
}

.whatsapp-float:hover {
  @extend %boton_whatsApp_hover;
}

.carousel-section {
  background-color: #70866b;
  width: $ancho;
}

.contenedor_de_img,
.contenedor_de_img-formulario,
.contenedor_de_img_ubicacion,
.contenedor_de_img-precios {
  @extend %flex_basico_with_column;
  @include contenedor_background_img(
    cover,
    no-repeat,
    center,
    40px 20px,
    center,
    85vh,
    rgb(28, 26, 26)
  );
}

.contenedor_de_img {
  background-image: url(../img/Img_Cabañas.jpg);
}

.contenedor_de_img_ubicacion {
  background-image: url(../img/Puente-Radal.jpeg);
}

.contenedor_de_img-formulario {
  background-image: url(../img/Imagen_Cabaña_3.jpg);
}

.contenedor_de_img-precios {
  background-image: url(../img/Valor_Cabañas.jpg);
}

.boton-de-ver-precios,
.Enviar-Mensaje {
  @extend %boton_para_ver_precios;
}

.seccion-principal-formularios {
  @extend %seccion_de_formulario;
}

.titulo-contacto {
  @include titulo_contacto(2.2rem, 10%, 10px, "solid 5px #70866b");
}

.seccion-formulario,
.elemento-formulario {
  @extend %flex_basico_with_column;
  @include formularios(1.3rem, 15px, #fff, 10px, 0 auto, 50%, center);
}

.elemento-formulario label {
  margin-bottom: 10px;
  font-weight: 300;
}

.elemento-formulario input {
  @extend %elementos_input;
}

.texto-de-area {
  @extend %configuracion_text_area;
}

.textos_importantes {
  font-size: 3.2rem;
  font-weight: 500;
}

.color_de_textos {
  font-size: 25px;
  color: rgb(28, 26, 26);
}

a:hover {
  color: rgb(181, 181, 59);
}

footer {
  @extend %footer;
}

footer a {
  @extend %footer_a;
}

footer a:hover {
  color: #70866b;
}

footer p {
  margin-top: 15px;
  font-size: 0.9rem;
}

.fa-brands,
.fa-instagram {
  color: rgb(33, 33, 176);
  margin: 5px;
}

.info-section {
  padding: 60px 0;
  background-color: #f9f8f4;
}

.info-section h2 {
  @extend %titulo_pequeño_h2;
}

.info-item {
  margin-bottom: $boton_margin;
}

.info-item h3 {
  font-size: 1.8rem;
  color: #70866b;
  margin-bottom: 15px;
}

.info-item p {
  font-size: 1.1rem;
  line-height: 1.6;
  color: #555;
}

.carousel-inner .carousel-item img {
  @include carrousel-item(10px, "0 4px 8px rgba(0, 0, 0, 0.2);", 500px, cover);
}

.seccion-direccion {
  @extend %seccion-direccion;
}

.direccion {
  @extend %flex_start;
  @include direccion_mapa(20px, 10px, #70866b, 50%);
}

.elementos-direccion,
.fa-location-dot,
.fa-car,
.fa-bus {
  @include propiedades_iconos(#f9f8f4, 1.8rem, center, 10px);
}

.direccion h2 {
  @extend %direccion_del_mapa;
}

.direccion p {
  @include direccion_mapa_texto(center, #f9f8f4, 1.3rem, 200, 15px);
}
.Mapa {
  @include estilos_mapa(20px, 10px, 10px, #70866b, 45%);
}
.Mapa h2 {
  @extend %titulo_h2;
}

.Mapa iframe {
  @include mapa_iframe(100%, 85%, 5px);
}

.container {
  @extend %container;
}

.price-header {
  text-align: $centrar_texto;
  margin-bottom: $margin_bottom;
}

.price-header h1 {
  font-size: $tamaño_letra;
  font-weight: grosor_de_letra_precios;
  margin: 0;
}

.price-header p {
  font-size: 1.2rem;
  color: $color_letra;
  margin-top: $margin_superior;
}

/* --- CONTENEDOR DE LA TABLA (PARA RESPONSIVE) --- */
.table-container {
  @extend %contenedor_tabla;
}

/* --- TABLA DE PRECIOS --- */
.price-table {
  @include propiedades_de_ancho_tabla(100%, collapse);
}

.price-table th,
.price-table td {
  @include precios_tabla(16px 20px, left, "1px solid #e5e7eb");
}

/* Cabecera de la tabla */
.price-table thead {
  background-color: $back_hover_precio_tabla; /* Verde de tu paleta */
  color: #f3e3c4; /* Beige de tu paleta */
}

.price-table thead th {
  @extend %precios_tablas;
}

/* Cuerpo de la tabla */
.price-table tbody tr:hover {
  background-color: #f9fafb; /* Un gris muy claro para el hover */
}

.price-table td {
  color: #374151;
}

.price-table .cabin-name {
  font-weight: 600;
  color: #111827;
}

.price-table .text-center {
  text-align: $centrar_texto;
}

.price-table ul {
  list-style-type: disc;
  padding-left: 20px;
  margin: 0;
}

/* --- NOTAS ADICIONALES --- */
.notes {
  @extend %notas;
}

.notes a {
  @extend %notas_a;
}

.notes a:hover {
  text-decoration: $text_de_decoration;
}

/* =================================== */
/* ESTILOS RESPONSIVE          */
/* =================================== */

@media screen and (max-width: 1024px) {
  .div-navbar {
    flex-direction: column;
    padding: 15px;
    gap: 10px;
  }

  .imagen-de-nosotros {
    padding: 20px;
    height: 100%;
    flex-direction: column;
  }

  .Imagen-de-logo {
    text-align: center;
  }

  .seccion-formulario,
  .elemento-formulario {
    width: 80%;
  }

  .seccion-direccion {
    flex-direction: column;
    align-items: center;
    height: auto;
  }

  .direccion,
  .Mapa {
    width: 90%;
    margin-bottom: 25px;
    margin-left: 0;
  }
}

@media (max-width: 600px) {
  .elementos-contenedor {
    margin: 10px;
    padding: 10px;
    flex-direction: column;
  }

  .imagen-de-nosotros {
    flex-direction: column;
    height: 100%;
  }

  .seccion-implementacion {
    margin: 10px;
    padding: 15px;
    width: 90%;
  }

  .titulo-contacto {
    padding-top: 10px;
    text-align: center;
    margin-bottom: 10px;
    line-height: 1.1;
    width: auto;
    display: inline-block;
  }

  .seccion-formulario {
    width: 90%; /* Ajustado para tener márgenes */
    padding: 20px;
  }

  .logo-imagen {
    width: 40%;
  }

  .seccion-formulario,
  .elemento-formulario {
    width: 80%;
  }
}

@media (max-width: 768px) {
  .price-header h1 {
    font-size: 2rem;
  }
  .price-table th,
  .price-table td {
    padding: 12px 15px;
    font-size: 0.9rem;
  }
}
