%flex_basico_with_column {
    display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

%flex_basico_with_row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

%flex_basico_with_flex_end_colunm {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
}

%decoracion_navbar {
  list-style: none;
  text-decoration: none;
  display: inline-block;
  border: 5px solid #fff;
  border-radius: 5px;
}

%seccion-de-implementacion {
  list-style: none;
  display: inline;
  font-size: 20px;
}

%elementos_input {
  width: 100%; /* CAMBIO: De 300px a 100% para ser adaptable */
  margin: 10px 0;
  border: 1px solid #000;
  padding: 15px; /* Reducido para mejor apariencia */
  border-radius: 5px;
}

%boton_para_ver_precios {
    text-decoration: none;
    cursor: pointer;
    font-size: 15px;
    border: none;
    padding: 15px;
    color: #f9f8f4;
    border-radius: 5px;
    background-color: #70866b;
    width: 150px;
}
