$centrar_texto: text-align;
$background: rgb(58, 94, 201);
$margin_bottom: 40px;
$border-bottom: solid 5px #70866b;
$tamaño_letra: 2.5rem;
$grosor_de_letra_precios: 700;
$color_letra: #555;
$margin_superior: 8px;
$back_hover_precio_tabla: #70866b;
$text_de_decoration: underline;
$boton_margin: 30px;
$ancho: 100%;
$centrar_objeto: 0 auto;
$ancho_logo: 20%;
$altura_auto: auto;
